doctype html
html(lang="en")
  include ../../partials/head.jade
  body
    include ../../partials/nav.jade
  
    div(class="container")
      include ../../partials/title.jade

      div(class="row")
        div(class="col-md-8 col-md-offset-2")
          div(class="panel panel-default panel-top-margin")
            div(class="panel-heading")
              p ResumeFlow Administrative Panel 
            div(class="panel-body")
              p The following are all of the user accounts that exist on within
                | the ResumeFlow system. You may create or delete new user and
                | administrator accounts.
              table(class="table table-striped table-bordered table-hover")
                thead
                  tr
                    th Email 
                    th Password
                    th Administrator (true or false)
                    th &nbsp;
                    th &nbsp;
                tbody(id="userTable")

              button(class="btn btn-block btn-success" onclick="createUser()")
                | Create New User   
                i.fa.fa-plus

    script(type="text/javascript" src="js/admin.js")
    include ../../partials/footer.jade